@{
    ViewData["Title"] = "О предприятии";
}
<link href="~/Content/CSS/Index.css" rel="stylesheet" />
<div class="contacts">
    <h2>@ViewData["Title"]</h2>

    <h5>
    
        Частное торгово-производственное унитарное предприятие
        "ЕвроВалЭкспорт" созданно на неопределенный срок на
        основе частной формы собственности в с соответсвии с
        положениями Гражданского кодекса Республики Беларусь.
        Основанно 15 июля 2009 года. Учредителем и собственником
        предприятия является: Марченко Валерий Петрович. Место
        нахождения предприятия: 225305, Республика Беларусь,
        Брестская область г.Кобрин, ул. Пролетарская, 151 а.
        Основная цель предприятия - обеспечение внешнеторговых
        операций по продвижению на экспорт продукции
        деревообрабатывающих предприятий республики.Предприятием
        проводится постоянная работа по наращиванию экспорта
        лесопродукции, увеличению ассортимента продаваемой
        продукции, укреплению деловых связей с имеющимися
        внешнеторговыми партнерами, поиску новых потребителей
        лесопродукции. Предприятие занимается: Распиловкой и
        строганием древесины, оптовой торговлей древесиной
        и продукцией обработки древесины а также розничной
        торговлей по образцам.
        <h5>
</div>


<div class="wrapper">
	<input type="radio" name="point" id="slide1" checked>
	<input type="radio" name="point" id="slide2">
	<input type="radio" name="point" id="slide3">
	<input type="radio" name="point" id="slide4">
	<input type="radio" name="point" id="slide5">
    <div class="slider">
        <div class="slides slide1"></div>
        <div class="slides slide2"></div>
        <div class="slides slide3"></div>
        <div class="slides slide4"></div>
        <div class="slides slide5"></div>
    </div>	
	<div class="controls">
		<label for="slide1"></label>
		<label for="slide2"></label>
		<label for="slide3"></label>
		<label for="slide4"></label>
		<label for="slide5"></label>
	</div>
</div>  