
@{
    ViewBag.Title = "Домашняя сраница";
    ViewData["UserName"] = User.Identity.Name;
}

<link href="~/Content/CSS/Index.css" rel="stylesheet" />
<div class="contacts">
    <div class="Home">
        <h1>ЕвроВалЭкспорт</h1>
        <h4>Частное Торгово-Производстевнное Предприятие</h4>
        <hr />

    </div>
    <br />
    <h2>Вы авторизовались под именем: @ViewData["UserName"]</h2>

    <h4>Данное приложение предназанено для<br /> работы персонла предприятия "ЕВРОВАЛЭКСПОРТ".</h4>
    <h4>
        Приложение позволяет персоналу управлять<br /> и контролировать продукцию, следить за работой персонала,<br />
        расчитывать зп, упровлять и слдить за <br />
        отработанным временем, с компьюьера <br />
        (телефона, планшета). Для<br />
        работы с таблицами нажмите на
        кнопку "Меню" в левом верзнем углу.
    </h4>
    <img class="img-help" src="~/Content/images/mobile.png" />
    <br />
</div>








